<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alicia Ngoc Diep Ha</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/css/foundation.min.css"
        integrity="sha256-ogmFxjqiTMnZhxCqVmcqTvjfe1Y/ec4WaRj/aQPvn+I=" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/foundation.css" />
    <link rel="stylesheet" href="../../css/app.css" type="text/css">
    <link rel="icon" href="../../imgs/logo.gif">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>

<body>
    <%- include('../templates/footer') %>
    <%- include('../templates/navbar') %>

    <div class="grid-container">
        <h1 class="mb-4"><%= article.title %></h1>
        <div class="card">
            <div class="text-muted mb-2"><%= article.createdAt.toLocaleDateString() %></div>
                <div><%= article.markdown %></div>
                <span><a href="/" class="button primary">All Articles</a>
                    <a href="/articles/edit/<%= article.id %>" class="button warning">Edit</a></span>
        </div>
    </div>


</body>

</html>