<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../templates/head') %>
</head>

<body>
    <%- include('../templates/navbar') %>

    <div class="grid-container">
        <h1 class="mb-4"><%= article.title %></h1>
        <div class="card">
            <div class="text-muted mb-2"><%= article.createdAt.toLocaleDateString() %></div>
                <div><%= article.markdown %></div>
                <span><a href="/" class="button primary">All Articles</a>
                    <a href="/articles/edit/<%= article.id %>" class="button warning">Edit</a></span>
        </div>
    </div>


</body>

</html>